  <!-- Navbar Section -->
  <section class="navbar">
    <nav>
        <h1>Noise makers Dashboard</h1>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#more-info" class="btn">More Info</a></li>
        </ul>
    </nav>
</section>